body{
  background: -webkit-linear-gradient(left, #303030, #808080);
}
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 50%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 50%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-head h5{
  color: #333;
}

.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}

.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
  font-size: large;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
  font-size: large;
}
.profile-tab{
  padding-left: 10%;
  width: 100%;
}
#edit{
  float: right;
  width: 10%;
  height: 10%;
  padding: 0.5% 10% 0.5% 6%;
}

.Students {
  margin: 5% 5%  5% 5%;
  padding: 5% 5% 5% 5%;
  border: 1px solid black;
  border-radius: 5%;
  width: 40%;
}


  
  #login-box {
	position: relative;
	margin: 2% auto;
	height: 3000px;
	width: 90%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
  
	background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  }
  
  #right-box {
	position: none;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0;
	/* background-color: #fefcff; */
	width: 90%;
	height: 500px;
  }
  
  .heading {
	margin: 0 0 20px 0;
	/* padding-top: 0.5em; */
	font-weight: 300px;
	font-size: 35px;
	color: white;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
	  "Lucida Sans", Arial, sans-serif;
  }
  
  button.final {
	background-color: #4caf50;
	color: white;
	margin-left: 50%;
	margin-top: 50px;
	border: none;
	cursor: pointer;
	width: 115px;
	height: 20%;
	border-radius: 20%;
	font-weight: 600;
	height: 50px;
	width: 15%;
	border-radius: 5%;
  }
  
  .profile-tab label{
	  float:left;
    background-color: white;
    color: black;
  }

  h4 {
    color: white
  }
  
  /* Style the tab */
  /* .tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	height: 60px;
	font-size: 20px;
	font-weight: 20px;
  } */
  
  /* Style the buttons inside the tab */
  .tab button {
	background-color: inherit;
	color: white;
	float: none;
	border: 1px;
	outline: 10px;
	cursor: pointer;
	padding: 1rem 1.2rem;
	transition: 0.3s;
	margin-left: 5rem;
	font-size: 1.1rem;
	font-weight: 500;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	color: rgb(233, 231, 231);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
	padding: 12px 12px;
  }
  
  /* .tablinks {
	border: none;
	background-color: none;
  } */
  /* h4 {
	float: left;
	margin-left: 50%;
  } */

  body {
    margin: 0;
    padding: 0;
    background-color: #4f4f4f;
    font-size: 16px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 300;
    background-size: 100%;
    text-align: center;
    }
    
    #login-box {
    position: relative;
    margin: 2% auto;
    height: 3000px;
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
    
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    }
    
    #right-box {
    position: none;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0;
    /* background-color: #fefcff; */
    width: 90%;
    height: 500px;
    }
    
    .heading {
    margin: 0 0 20px 0;
    /* padding-top: 0.5em; */
    font-weight: 300px;
    font-size: 35px;
    color: rgb(180, 25, 25);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    }
    
    button.final {
    background-color: #4caf50;
    color: white;
    margin-left: 50%;
    margin-top: 50px;
    border: none;
    cursor: pointer;
    width: 115px;
    height: 20%;
    border-radius: 20%;
    font-weight: 600;
    height: 50px;
    width: 15%;
    border-radius: 5%;
    }
    
    label{
      float:left;
      color: white;
    }
  
    input:ho button:hover {
    opacity: 0.8;
    }
    input[type="text"] {
    width: 80%;
    padding: 15px 22px;
    margin: 10px 8px;
    box-sizing: border-box;
    border-radius: 8px;
    }
    input[type="password"] {
    width: 60%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    border-radius: 8px;
    }
    
    input {
    border: none;
    border-bottom: solid 0.25px;
    border-bottom-color: #aaa9a9;
    }
    
    /* Style the tab */
    /* .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 60px;
    font-size: 20px;
    font-weight: 20px;
    } */
    
    /* Style the buttons inside the tab */
    .tab button {
    background-color: inherit;
    color: white;
    float: none;
    border: 1px;
    outline: 10px;
    cursor: pointer;
    padding: 1rem 1.2rem;
    transition: 0.3s;
    margin-left: 5rem;
    font-size: 1.1rem;
    font-weight: 500;
    }

    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* topnavbar */
.Navbar{
  background-color: #021E39;
  width:100%;
  height: 0%;
  font-family: Arial, Helvetica, sans-serif;
  display:flex;
  align-items: center;
  justify-content: center;
}
.Navbar .leftSide{
  flex: 80%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.Navbar .leftSide .links {
  max-height: 80px;

}
.Navbar .leftSide button {
  display: none;
  margin-left:20px;
}
.Navbar .leftSide #hidden {
  display: flex;
  
}

.Navbar .leftSide .links a {
 text-decoration: none;
 color:white;
 font-size: 25px;
 margin-left:15px;
 align-items: center;
 margin-top: 10px;
}
.Navbar .rightSide{
  flex: 20%;
  
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.menu-container {
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  width: 12.25rem;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  margin-left: auto; /* Strictly for positioning */
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 16px;
  margin: 0 10px;
  margin-left: -5px;
}

.menu-trigger img {
  border-radius: 90px;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}


@media only screen and (max-width: 1400px){
  .Navbar .leftSide .links a{
      font-size:20px;
  }
}

@media only screen and (max-width: 1100px){
  .Navbar .leftSide .links a{
      font-size:15px;
  }
}

@media only screen and (max-width: 900px){
  .Navbar .leftSide .links a{
      font-size:13px;
  }
}
@media only screen and (max-width: 750px){
  .Navbar .leftSide button {
      display: flex;
   }
   .Navbar .leftSide .links {
      display: none;
  }
  .Navbar .leftSide #hidden {
      position: absolute;
      left:0px;
      top: 80px;
      height: 230px;
      width:100%;
      max-height: 220px;
      background-color: #021E39;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .Navbar .leftSide #hidden a {
       margin:10px;
       font-size: 25px;
   }
  

}

/* sidenavbar */

.navbar {
  background-color: #021E39;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #021E39;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: black;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
.table-proc {
  display: flex;
  margin-left: 260px;
  font-size: 2rem;
  width: fit-content;
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
img{
  margin-left: 10px;
}

/* dsfas */

.heading{
  text-align: center;
  padding: 10px;
}